#hi{
    font-size: 25px;
    height: 20px;
    text-align: center;
    border: 5px red solid;
}

#enter{
    width: 100px;
    height: 30px;
}

#return{
    width: 400px;
    height: 400px;
}

/* .taipy-text{
    font-size: 100px;
} */